body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 16px;
  width: 400px;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  cursor: pointer;
}